# Quality Report
Use this file to outline the test strategy for this package.

## Version tested: 1.3.0-preview.2

## QA Owner: Ryan Cassell
## UX Owner: John Galleli

## Test strategy
*Use this section to describe how this feature was tested.*

24/24 cases in the Editor test suite of the package pass.

Ran through all cases in our Collab Test Suite (http://qatestrail.hq.unity3d.com/index.php?/suites/view/1334&group_by=cases:section_id&group_id=20794&group_order=asc) that pertain to the standard operations of the Collab Toolbar. Anything worth note after conducting these tests are included in the Package Status section.

## Package Status

No issues were uncovered throughout performing the full suite of operations that can be conducted inside of the Collab Toolbar: Publish; Partial Publish; Revert; See Differences; Merge Conflict Resolution; Typing a Comment; Updating; Open Collab History; Invite Teammates. There were no noticeable performance hits in these operations.
